= form_for(@book) do |f|

  - if @book.errors.any?
    #error_explanation
      %h2
        = pluralize(@book.errors.count, "error")
        prohibited
        this book from being saved:
      %ul
        - @book.errors.full_messages.each do |msg|
          %li= msg
  %p
    = f.label :title
    %br/
    = f.text_field :title

  %p
    = f.label :author
    %br/
    = f.text_field :author
  %p
    = f.submit

  - for match in Match.all
    = check_box_tag 'book[match_ids][]', match.id, @book.matches.include?(match)
    = match.pgn
    %br
