= form_for(@book) do |f|

  - if @book.errors.any?
    #error_explanation
      %h2
        = pluralize(@book.errors.count, "error")
        prohibited
        this book from being saved:
      %ul
        - @book.errors.full_messages.each do |msg|
          %li= msg
  %p
    = f.label :title
    %br/
    = f.text_field :title

  %p
    = f.label :author
    %br/
    = f.text_field :author


  %h3.games-list-header Add Existing Games

  - for match in Match.all
    .pgn-wrapper
      = check_box_tag 'book[match_ids][]', match.id, @book.matches.include?(match)
      %p
        = match.pgn.truncate(130)
      %br

  %h3.games-list-header Create New Game


  %p
    = f.submit :class => 'action-button'
